body {
    background-image: url(Assets/images/vintage-concrete.png);
    z-index: 1;
}

h1 {
    color: #4aaaa5;
    font-size: 40px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;
}

p {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-size: 18px;
}

#big-name {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

  nav {
      font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    margin-top: 25px;
  }

  .links {
    text-decoration: none;
    color: grey;
    margin-top: 36px;
  }
  nav a {
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }

  #mainhead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }

.contact {
    float: auto;
}

header{
    
    margin-bottom: 20px;
    color: #333;
    background: white;
}

.about-image {
    float: left;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-right: 25px;
}


#mainbox {
    position: fixed;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    position: absolute;
    width: 100%;
    margin-top: 300px;
    bottom: 0px
    
  }

/* HEADER PAGE START */

  #contact-form ul {
      margin-bottom: 20px;
  }

  #contact-form li {
      margin-bottom: 10px;
  }

  label {
      width: 100%;
  }