body {
    background-image: url(Assets/images/vintage-concrete.png);
    z-index: 1;
}

h1{
    color: white;
    background: turquoise;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }

  nav {
      font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    margin-top: 25px;
  }

  .links {
    text-decoration: none;
    color: grey;
    margin-top: 36px;
  }
  nav a {
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }

  #mainhead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }

.contact {
    float: auto;
}

header{
    
    margin-bottom: 20px;
    color: #333;
    background: white;
}


.aboutbox {
    background: white;
    position: relative;
    z-index: 2;
    
}