body {
    background-image: url(Assets/images/vintage-concrete.png)
}

h1{
    color: lightblue
}
.contact {
    float: auto;
}

header{
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: white;
}
#name {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
}